.title{
    text-align: center;
    margin: 1 0;
    text-style:bold;
    color: green;
}

#main-container {
    min-width: 100%;
    min-height: 100%;
    margin: 1;
    background: red;
}

#trending {
    color: green;
    text-align: center;
    margin-top: 1;
}

#queue{
    color: green;
    text-align: center;
    margin-top: 1;
}

#search{
    color: green;
    text-align: center;
    margin-top: 1;
}

#current {
    text-align: center;
    margin-bottom: 2;
}

#up_next{
    text-align: center;
    margin-top: 1;
    margin-bottom: 2;
}

#search_box{
    margin-left: 5;
    margin-right: 5;
}

#player_controller {
    layout: horizontal;
    /* border-top: heavy rgb(187, 187, 12); */
    width: 100%;
    height: 7;
    padding: 1;
}

.player_controls {
    margin: 0 5;
    width: 25;
    color: orange;
}

#current_song_name {
    width: 100%;
    text-align: center;
    text-style: bold;
    /* color: rgb(187, 187, 12); */
    color: orange;
}

#previous{
    dock: left;
}

#next{
    dock: right;
}

#home_box {
    /* border: round white; */
    padding-top: 2;
}
    
#song_list{
    margin-bottom:2;
}

.listed_songs {
    width: 100%;
    margin: 1 5;
    text-align: center;
}

.listed_suggestions {
    width: 100%;
    margin: 1 6;
    text-align: center;
}

#suggestions {
    width: 100%;
    padding-left: 2;
    padding-right: 0;
}

#search_results {
    width: 100%;
    padding-left: 2;
    padding-right: 0;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}