.title{
    text-align: center;
    margin: 1 0;
    text-style:bold;
    color: green;
}

#main-container {
    min-width: 100%;
    min-height: 100%;
    margin: 1;
    background: red;
}

#trending {
    color: green;
    text-align: center;
    margin-top: 1;
}

#queue{
    color: green;
    text-align: center;
    margin-top: 1;
}

#search{
    color: green;
    text-align: center;
    margin-top: 1;
}

#current {
    text-align: center;
    margin-bottom: 2;
}

#up_next{
    text-align: center;
    margin-top: 1;
    margin-bottom: 2;
}

#search_box{
    margin-left: 5;
    margin-right: 5;
}

#home_box {
    /* border: round white; */
    padding-top: 2;
}
    
#song_list{
    margin-bottom:2;
}

.listed_songs {
    width: 100%;
    margin: 1 5;
    text-align: center;
}

.listed_suggestions {
    width: 100%;
    margin: 1 6;
    text-align: center;
}

#suggestions {
    width: 100%;
    padding-left: 2;
    padding-right: 0;
}

#search_results {
    width: 100%;
    padding-left: 2;
    padding-right: 0;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}

.queue_songs {
    width: 100%;
    margin: 1 5;
    text-align: center;

}
.queue_current {
    width: 100%;
    margin: 1 5;
    text-align: center;
}

#currently_playing_box{
    layout:horizontal;
    width: 100%;
}

#silence {
    margin-top: 5;
    text-align: center;
    text-style: bold;
    color: rgb(211, 211, 20);
}

#currently_playing_text {
    text-align: center;
    text-style: bold;
    color: rgb(211, 211, 20);
    margin-bottom: 2;
}

.music_controls{
    margin: 0 5;
    text-style: bold;
}

#current{
    width: 100%;
    padding-left: 2;
}

#prev{
    dock: left;
}

#next{
    dock: right;
}

#up_next_text{
    text-align: center;
    text-style: bold;
    color: rgb(211, 211, 20);
    margin-bottom: 2;
}

.up_next_songs{
    width: 100%;
    margin: 1 5;
    text-align: center;
}